* {
  font-family: Georgia, serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.app-header {
  background-color: #1F2428;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.app-wrapper {
  padding: 20px;
  background-color: white;
  max-height: 100vh;
  overflow: auto;
}

.body-wrapper {
  display: flex;
  flex-direction: horizontal;
}

.body-half {
  flex: 1;
  padding: 20px;
}
