.chat-box {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
    overflow-y: auto;
}

.message {
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    align-self: flex-start;
}

.message.sent {
    background-color: #FFAC2F;
    color: #fff;
    align-self: flex-end;
}

.message.received {
    background-color: #f2f2f2;
    color: #000;
    align-self: flex-start;
}

.messageLine {
    padding: 5px;
    font-size: larger;
}

.vf-image {
    width: 100%;
}

.choice-button {
    font-size: larger;
    background-color: #FFAC2F;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border-color: #FFAC2F;
}

.choice-button:hover {
    background-color: #d88f22;
    border-color: #d88f22;
    color: #ffffff;
}